<!DOCTYPE html>
    <html lang="fr">
        <head>
            <meta charset="UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
            <title>{% block title %}Write you think{% endblock %} - Micro Blog</title>
            <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/flatly/bootstrap.min.css" />
            <link rel="stylesheet" type="text/css" href="css/main.css" />
        </head>
        <body>
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href="{{ path('blog_index') }}">Micro Blog</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="nav">
                    <ul class="navbar-nav ml-auto">
                        {% if not app.user %}
                            <li class="nav-item">
                                <a href="{{ path('security_login') }}" class="nav-link">Sign in</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a href="{{ path('security_logout') }}" class="nav-link">Sign out</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
            <div class="container starter-template">
                {% block content %}{% endblock %}
            </div>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
            <script src="js/main.js"></script>
        </body>
    </html>
